<div id="ref-api-box"></div>

<script>
	c4rRef = {
		apiKey : "3ATnYdhpq6UT865zkPAeym5P3gju3wds",
		apiButton : 'rent',
		apiStyle:'',
		styleSRC:'https://cars4rent.ge/assets/css/cars4rent.css',
		logoSRC: 'http://parent.ge/assets/img/app/logo.png'
	}
	</script>
	<script src="api.js"></script>